<html lang="{{ app.request.locale|split('_')[0] }}">
  <head>
    <!-- GENERAL -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- TITLE PAGE -->
    <title>
      {% block title %}{% endblock %}
      | Kipers Industries - Le Prognostics & Health Management au service des industriels
    </title>
    <!-- LOGO ICON -->
    <link rel="icon" href="{{ asset('assets/img/logos/logo-ico.png') }}">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
    <!-- CSS : Individual Page -->
    {% block stylesheets %}{% endblock %}
    <!-- CSS : Cookie Consent -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css"/>
    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <!-- JS : Translation -->
    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script src="{{ url('bazinga_jstranslation_js', { 'locales': 'fr,en' }) }}"></script>
    <!-- JS : Individual Page -->
    {% block javascripts %}{% endblock %}
    <!-- JS : Cookie Consent -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
      window.addEventListener("load", function() {
        window.cookieconsent.initialise({
          "palette": {
            "popup": {
              "background": "#fff"
            },
            "button": {
              "background": "#082947"
            }
          },
          "content": {
            "message": "Ce site n'utilise pas les cookies et nous ne collectons pas vos informations. Le flux de visiteurs est enregistré par le module Google analytics.",
            "href": "https://privacy.google.com/businesses/compliance/#!?modal_active=none",
            "dismiss": "Compris&nbsp;!",
            "link": "En savoir plus",
            "target": "_blank"
          }
        })
      });
    </script>
  </head>

  <body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <!-- Navigation logo -->
      <a href="{{ path('home') }}">
        <img class="d-none d-md-block" src="{{ asset('assets/img/logos/logo_white.png') }}" alt="Kipers Logo in White Version">
        <img class="d-block d-md-none" src="{{ asset('assets/img/logos/logo_white.png') }}" alt="Little Kipers Logo in White Version">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-start align-items-lg-center">
          <!-- Home -->
          <li class="list-unstyled m-3">
            <a class="text-white" href="{{ path('home') }}">
              Accueil
            </a>
          </li>

          <!-- Simulateur -->
          <li class="list-unstyled m-3">
            <a class="text-white" href="{{ path('simulation') }}">
              Simulateur
            </a>
          </li>

          <!-- Solution -->
          <li class="list-unstyled m-3">
            <a class="text-white" href="{{ path('solution') }}">
              Solutions
            </a>
          </li>

          <!-- News -->
          <li class="list-unstyled m-3">
            <a class="text-white" href="{{ path('article_list') }}">
              Actualités
            </a>
          </li>

          <!-- About us -->
          <li class="list-unstyled m-3">
            <a class="text-white" href="{{ path('company') }}">
              Société
            </a>
          </li>

          <!-- Contact -->
          <li class="list-unstyled m-3">
            <a class="text-white" href="{{ path('contact') }}">
              Contactez-nous
            </a>
          </li>

          {% if not app.user %}

            <!-- Client login -->
            <li class="list-unstyled">
              <a class="btn btn-secondary px-4 py-2" href="{{ path('app_login') }}">Connexion</a>
            </li>

          {% else %}

            <!-- Client logout -->
            <li class="list-unstyled">
              <a class="btn btn-secondary px-4 py-2" href="{{ path('app_logout') }}">Deconnexion</a>
            </li>

          {% endif %}

          {% if app.request.locale == "fr" %}

            <li class="list-unstyled">
              <a class="btn btn-secondary ml-3 px-3 py-2" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale':'en'})) }}">EN</a>
            </li>

          {% else %}

            <li class="list-unstyled">
              <a class="btn btn-secondary ml-3 px-3 py-2" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale':'fr'})) }}">FR</a>
            </li>

          {% endif %}
        </ul>
      </div>
    </nav>
    <!-- End Navigation bar -->

    {% block body %}{% endblock %}

    <!-- Footer -->
    <footer class="pt-5 pb-4 bg-secondary">
      <div class="container">
        <div class="row justify-content-center justify-content-md-start mx-auto mx-md-0">
          <!-- Navigation section -->
          <div class="col-10 col-md-6 col-lg-3 text-center text-md-left">
            <!-- Navigation title -->
            <h5 class="title-2 text-capitalize">
              <span class="underline underline-main">
                Navigation
              </span>
            </h5>
            <!-- Navigation Hyperlinks -->
            <ul class="p-0">
              <!-- Home -->
              <li class="list-unstyled">
                <a class="text-white" href="{{ path('home') }}">
                  Accueil
                </a>
              </li>

              <!-- Simulateur -->
              <li class="list-unstyled">
                <a class="text-white" href="{{ path('simulation') }}">
                  Simulateur
                </a>
              </li>

              <!-- Our solution -->
              <li class="list-unstyled">
                <a class="text-white" href="{{ path('solution') }}">
                  Solutions
                </a>
              </li>

              <!-- News -->
              <li class="list-unstyled">
                <a class="text-white" href="{{ path('article_list') }}">
                  Actualités
                </a>
              </li>

              <!-- About us -->
              <li class="list-unstyled">
                <a class="text-white" href="{{ path('company') }}">
                  Société
                </a>
              </li>

              <!-- Contact -->
              <li class="list-unstyled">
                <a class="text-white" href="{{ path('contact') }}">
                  Contactez-nous
                </a>
              </li>

              <!-- Careers -->
              <li class="list-unstyled">
                <a class="text-white" href="https://kipers-industries.welcomekit.co/">
                  Rejoignez-nous
                </a>
              </li>

              {% if not app.user %}

                <!-- Client login -->
                <li class="list-unstyled">
                  <a class="text-white" href="{{ path('app_login') }}">
                    Connexion
                  </a>
                </li>

              {% else %}

                <!-- Client logout -->
                <li class="list-unstyled">
                  <a class="text-white" href="{{ path('app_logout') }}">
                    Deconnexion
                  </a>
                </li>

              {% endif %}

              <!-- Site plan -->
              <!-- <li class="list-unstyled"> <a class="text-white" class="text-white" href="#"> Plan du site </a> </li> -->

              <hr class="w-50 mx-md-0 mx-auto my-2 bg-white">

              <li class="list-unstyled">
                <a class="text-white" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale':'fr'})) }}">
                  Français
                </a>
              </li>

              <li class="list-unstyled">
                <a class="text-white" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale':'en'})) }}">
                  English
                </a>
              </li>
            </ul>
          </div>

          <!-- Expertise section -->
          <div class="col-4 d-none">
            <!-- Expertise title -->
            <h5 class="title-2 text-capitalize">
              <span class="underline underline-main">
                Expertise
              </span>
            </h5>
            <!-- Expertise Hyperlinks -->
            <ul class="p-0">
              <!-- Viticulture -->
              <li class="list-unstyled">
                <a class="text-capitalize text-white" href="#">
                  Viticulture
                </a>
              </li>
              <!-- Agroalimentaire -->
              <!-- <li class="list-unstyled"> <a class="text-capitalize text-white" href="#"> Agroalimentaire </a> </li> -->
            </ul>
          </div>

          <!-- Social networks section -->
          <div class="col-10 col-md-6 col-lg-6">
            <!-- Social networks title -->
            <h5 class="title-2 text-capitalize text-center text-md-left">
              <span class="underline underline-main"></span>
            </h5>

          </div>

          <div class="col-12 col-lg-3 flex-column d-flex align-items-center">
            <div>
              <img class="d-block w-100" src="{{ asset('assets/img/logos/logo_white.png') }}" alt="">
            </div>
            <div class="infos">
              <p class="text-white">
                Pépinière Newton
                <br>
                213 Cours Victor Hugo
                <br>
                33130 Bègles
              </p>
            </div>
            <!-- Contact link -->
            <a class="btn btn-primary mx-auto" href="{{ path('contact') }}">
              Contactez-nous
            </a>
            <!-- Social networks Hyperlinks -->
            <ul class="p-0 d-flex mt-3">
              <!-- Twitter -->
              <li class="list-unstyled mx-2">
                <a class="text-capitalize text-white" href="#">
                  <img src="{{ asset('assets/img/rs/twitter.svg') }}" alt="">
                </a>
              </li>

              <!-- Linkedin -->
              <li class="list-unstyled mx-2">
                <a class="text-capitalize text-white" href="#">
                  <img src="{{ asset('assets/img/rs/linkedin.svg') }}" alt="">
                </a>
              </li>
            </ul>
          </div>
        </div>

        <!-- All right reserved -->
        <div class="row mt-5">
          <p class="w-100 text-center text-white mb-1">
            &copy; Kipers Industries 2019. Tous droits réservés.
          </p>
        </div>

        <!-- Legal mentions & Site plan -->
        <div class="row text-white mx-auto text-center">
          <p class="w-100 text-center text-white m-0">
            <a class="text-white" href="#">
              Mentions légales
            </a>
            <!-- <span> | </span> -->
            <!-- <a class="text-white" href="#">Plan du site</a> -->
          </p>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <script>
      window.onscroll = function() {
        myFunction()
      };

      var element = document.querySelector("main");
      var sticky = element.offsetTop;

      function myFunction() {
        if (window.pageYOffset > sticky) {
          $("nav").addClass("scrolled");
        } else {
          $("nav").removeClass("scrolled");
        }
      }
    </script>

  </body>
</html>
