{# HEADER / FOOTER #}
{% extends 'base.html.twig' %}

{# Title Page #}
{% block title %}
  Article
{% endblock %}

{# CSS : Individual Page #}
{% block stylesheets %}{% endblock %}

{# JS : Individual Page #}
{% block javascripts %}{% endblock %}

{# BODY : Individual Page #}
{% block body %}

<!-- Header with background image -->
<header id="bg-about" class="bg-section container-fluid">
  <div class="row">
    <!-- Content -->
    <div class="container py-header-section">
      <div class="row">
        <!-- Responsive col -->
        <div class="col-10 col-lg-8 mx-auto ">
          <!-- Header text -->
          <p class="bg-title text-center text-white">
            Actualités
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End Header -->

<main>
  <!-- News section -->
  <div class="container py-section">
    {% for article in articles %}
      <!-- Article -->
      <div class="row article-container">
        <!-- Article image -->
        <div class="col-10 col-md-4 mx-auto">
          <img class="w-100 imgscale" src="{{ asset('uploads/article/image/' ~ article.image) }}" alt="">
        </div>

        <!-- Article informations -->
        <div id="agriinno" class="col-10 col-md-8 mx-auto mt-3 mt-md-0 d-flex flex-column align-items-end">
          <div>
            <!-- Article title and link -->
            <h6 class="title-3 color-2">
              {# Displayed for FR website #}
              {% if app.request.locale == 'fr' %}
                {{ article.title }}
                {# Displayed for EN website #}
              {% else %}
                {{ article.titleEN }}
              {% endif %}
            </h6>

            <!-- Article synop. -->
            <p class="mt-3" align="justify">
              {% if app.request.locale == 'fr' %}
                {# Displayed for FR website #}
                {{ article.content }}
              {% else %}
                {# Displayed for EN website #}
                {{ article.contentEN }}
              {% endif %}

              <br><br>
              {% if article.file %}
                <a href="{{ asset('uploads/article/file/' ~ article.file) }}">Plus d'informations</a>
              {% endif %}
            </p>
          </div>

          <div class="row">
            {% if app.user.admin %}
              <!-- Article Edit -->
              <a class="bg-secondary text-white p-2 mt-3 mx-3" href="{{ path('edit_article', {'id': article.id}) }}">
                Modifier l'article
              </a>
            {% endif %}


            <!-- Article Author -->
            <span class="bg-secondary text-white p-2 mt-3">
              {{ article.publishedAt|date("d/m/Y")  }}
            </span>
          </div>

        </div>

        <!-- Splitter -->
        <hr class="w-100 my-5">
      </div>
    {% endfor %}
  </div>
  <!-- End News section -->
</main>

{% endblock %}
